<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инфорационная система на железнодорожном вокзале</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Site Title</li>
          <li><a href="/trains">Вывод по интервалу дней</a></li>
          <li><a href="/trains/filter">Вывод по другим параметрам</a></li>
          <li><a href="/trains/new">Добавить поезд</a></li>
          <li><a href="/cities/all_cities">Все города с железнодорожным сообещнием</a></li>
          <li><a href="/cities/live_the_city">Города из которых не уехать</a></li>
          <li><a href="/cities/max_path">Максимальное количество путей</a></li>
        </ul>
      </div>
    </div>
    <div class="grid-container">
      <%= yield %>
    </div>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
  </body>
</html>